
<!--  Header -->
<header>
    <div class="header-container">
        <!-- Logo en Titel -->
        <div class="logo-container">
       <img src="{{ site.baseurl }}/assets/logo.jpeg" alt="Website Logo">
        <h1>Next Chapter: Squad</h1>
        </div>
        <nav>
                <select id="genreFilter" class="category-dropdown">
                </select>
        </nav>
    </div>
</header>
